@using MyJournal.Services
@implements IDisposable


<div class="toast-container @(IsVisible ? "toast-visible" : "")">
    <div class="toast-card @LevelClass">
        <div class="toast-message">
            @Message
        </div>
        <button class="toast-close" @onclick="Close">×</button>
    </div>
</div>

