@inherits LayoutComponentBase
@using MyJournal.Components.Pages.Auth
@using MyJournal.Services
@using MyJournal.Components.Shared

@inject ThemeService Theme
@implements IDisposable



<MyJournal.Components.Shared.Toast />

<div class="app-root @(Theme.IsDarkMode ? "dark-mode" : "")">

    <AuthGuard>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main class="content">
                @Body
            </main>
        </div>
    </AuthGuard>

</div>

