@font-face {
    font-family: 'Lora';
    src: url('../Fonts/Lora-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    src: url('../Fonts/Nunito-Regular.ttf') format('truetype');
}

:root {
    --color-primary: #8FA885; /* Sage Green  */
    --color-primary-dark: #768c6d; /* Darker Sage */
    --color-bg: #F9F7F2; /* Warm Paper */
    --color-sidebar: #2F3E2E; /* Dark Olive (Logo Text) */
    --color-text: #2F3E2E; /* Dark Olive for main text */
    --color-white: #ffffff;
}

html, body {
    font-family: 'Nunito', 'Helvetica Neue', Arial, sans-serif; 
    background-color: var(--color-bg);
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
    color: var(--color-sidebar);
}

a, .btn-link {
    color: var(--color-primary-dark);
}

.btn-primary {
    color: #fff;
    border-radius:8px;
    padding: 10px;
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    /*    border-color: var(--color-primary-dark);
    font-family: 'Lora', serif; */
    /*    border-radius: 12px;
}*/
}

    .btn-primary:hover {
        background-color: var(--color-primary-dark);
        border-color: var(--color-sidebar);
    }


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--color-primary);
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* 1. Set the width of the scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Thin and elegant */
    height: 8px; /* For horizontal scrollbars */
}

/* 2. Style the "Track" (The background underneath the bar) */
::-webkit-scrollbar-track {
    background: transparent; /* Keep it invisible */
}

/* 3. Style the "Thumb" (The moving part) */
::-webkit-scrollbar-thumb {
    background-color: rgba(143, 168, 133, 0.5); /* Sage Green (Semi-transparent) */
    border-radius: 10px; /* Rounded pill shape */
    border: 2px solid transparent; /* Creates padding effect */
    background-clip: content-box;
}

    /* 4. Style the Thumb on Hover (Darker green) */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #8FA885; /* Solid Sage Green */
    }